<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-5">ข่าวสารการสมัคร</h2>
      {% if announcement_rounds|length == 1 %}
        {% include 'main/include/announcement_list.html' %}
      {% else %}
        <ul class="nav nav-tabs" role="tablist">
          {% for r in announcement_rounds %}
            <li class="nav-item">
              <a class="nav-link {% if r.number == default_round_number %}active{% endif %}" data-toggle="tab" href="#tab_round_{{ r.number }}" role="tab" aria-controls="tab_round_{{ r.number }}" aria-selected="{% if r.number == default_round_number %}true{% else %}false{% endif %}">รอบที่ {{ r.number }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for r in announcement_rounds %}
            <div class="tab-pane fade {% if r.number == default_round_number %}show active{% endif %}" id="tab_round_{{ r.number }}" role="tabpanel">
              {% with r.items as announcements %}
                {% include 'main/include/announcement_list.html' %}
              {% endwith %}
            </div>
          {% endfor %}          
        </div>
      {% endif %}
      <hr />
    </div>
  </div>
</div>
