<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-5">ข่าวสารการสมัคร</h2>
      <ul style="margin-top: 10px;">
        {% for announcement in announcements %}
          <li>
            {{ announcement.body }}
            {% if announcement.more_link_text %}
              <a class="btn btn-sm btn-info" target="_blank" href="{{ announcement.more_link_url|safe }}">{{ announcement.more_link_text }}</a>
            {% endif %}
            {% if announcement.attachment %}
              <a class="btn btn-sm btn-info" target="_blank" href="{{ announcement.attachment.url|safe }}">ดาวน์โหลด</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <hr />
    </div>
  </div>
</div>
