<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">
	รอบที่ 4 Direct Admission
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	วิทยาเขตบางเขนและโครงการจัดตั้งวิทยาเขตสุพรรณบุรี
      </td>
      <td>รับสมัคร</td>
      <td>28 - 30 พ.ค. 69</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>2 มิ.ย. 69</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์ (ถ้ามี)</td>
      <td>3 มิ.ย. 69</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อมีสิทธิ์เข้าศึกษา</td>
      <td>3 มิ.ย. 69 (18:00 น.)</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="1">
	วิทยาเขตกำแพงแสน
      </td>
      <td colspan="2">
	ตรวจสอบที่<a target="_blank" href="https://admission.kps.ku.ac.th/kpsadm/">เว็บไซต์รับสมัคร</a>
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="1">
	วิทยาเขตศรีราชา
      </td>
      <td colspan="2">
	ตรวจสอบที่<a target="_blank" href="https://admissions.src.ku.ac.th/">เว็บไซต์รับสมัคร</a>
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="1">
	วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร
      </td>
      <td colspan="2">
	ตรวจสอบที่<a target="_blank" href="https://misreg.csc.ku.ac.th/admission/">เว็บไซต์รับสมัคร</a>
      </td>
    </tr>
  </tbody>
</table>
