<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td colspan="10">รอบที่ 3 Admission</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="6">
	ทุกวิทยาเขต รับสมัครผ่านทางเว็บไซต์ ทปอ.
      </td>
      <td>รับสมัคร</td>
      <td>7 - 15 พ.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศผล (ครั้งที่ 1)</td>
      <td>26 พ.ค. 64</td>
    </tr>
    <tr>
      <td>ยืนยันสิทธิ์</td>
      <td>26 - 27 พ.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศผล (ครั้งที่ 2)</td>
      <td>1 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์และตรวจร่างกาย</td>
      <td>4 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้ยืนยันสิทธิ์</td>
      <td>10 มิ.ย. 64</td>
    </tr>
  </tbody>
</table>
