<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">
	รอบที่ 4 Direct Admission
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	วิทยาเขตบางเขนและโครงการจัดตั้งวิทยาเขตสุพรรณบุรี
      </td>
      <td>รับสมัคร</td>
      <td>7 - 10 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้ผ่านการคัดเลือก</td>
      <td>14 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์ออนไลน์ (ถ้ามี)</td>
      <td>15 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อมีสิทธิ์เข้าศึกษา</td>
      <td>15 มิ.ย. 64 (16:00 น.)</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	วิทยาเขตกำแพงแสน
      </td>
      <td>รับสมัคร</td>
      <td>5 - 10 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>คณะดำเนินการคัดเลือก</td>
      <td>13 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์เข้าศึกษา</td>
      <td>15 มิ.ย. 64 (16:00 น.)</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="1">
	วิทยาเขตศรีราชา
      </td>
      <td colspan="2">
	ตรวจสอบที่<a target="_blank" href="https://qa.src.ku.ac.th/Admission/">เว็บไซต์รับสมัคร</a>
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="2">
	วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร
      </td>
      <td>รับสมัคร</td>
      <td>3 - 13 มิ.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์เข้าศึกษา</td>
      <td>15 มิ.ย. 64</td>
    </tr>
  </tbody>
</table>
