<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="3">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">รอบที่ 1 Portfolio</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี
	  <br>
	  และวิทยาลัยการชลประทาน</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr>
      <td>รับสมัคร</td><td>
	15 ต.ค. 67 - 15 พ.ย. 67
      </td>
      <td>
	16 ธ.ค. 67 - 10 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	30 พ.ย. 67
      </td>
      <td>
	24 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	3 - 4 ธ.ค. 67
      </td>
      <td>
	27 - 28 ม.ค. 68
      </td>
    </tr>
    <tr><td>ประกาศผลสอบสัมภาษณ์</td>
      <td>6 ธ.ค. 67</td>
      <td>29 ม.ค. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตกำแพงแสน</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr><td>รับสมัคร</td>
      <td>
	1 ต.ค. - 20 ต.ค. 67
      </td>
      <td>
	11 พ.ย. 67 - 6 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	30 ต.ค. 67
      </td>
      <td>
	18 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	4 พ.ย. 67
      </td>
      <td>
	21 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>
	5 พ.ย. 67
      </td>
      <td>24 ม.ค. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตศรีราชา</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr>
      <td>รับสมัคร</td>
      <td>
	1 ต.ค. 67 - 31 ต.ค. 67
      </td>
      <td>
	2 ธ.ค. 67 - 8 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	18 พ.ย. 67
      </td>
      <td>
	24 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	23 พ.ย. 67
      </td>
      <td>
	27 ม.ค. 68
      </td>
    </tr>
    <tr><td>ประกาศผลสอบสัมภาษณ์</td>
      <td>26 พ.ย. 67</td>
      <td>29 ม.ค. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	<b>วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</b>
      </td>
      <td>รับสมัคร</td>
      <td colspan="2">
	9 ก.ย. 67 - 7 ม.ค. 68
      </td>
    </tr>
    <tr>
      <td>ประกาศผลการคัดเลือก</td>
      <td colspan="2">หลังชำระเงิน 1 วันทำการ</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td colspan="2">เฉพาะสาขาวศ.โยธา<br>
	และวศ.คอมพิวเตอร์</td>
    </tr>
  </tbody>
</table>
