<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ปฏิทินการรับสมัคร</h2>

      <table class="table table-sm">
	<thead class="thead-dark">
	  <tr>
	    <th>รอบรับสมัคร</th>
	    <th colspan="2">กำหนดการ</th>
	  </tr>
	</thead>
	<tbody>
	  <!-- ############################ -->
	  <!-- ############################ -->
	  <!-- ############################ -->
	  <tr class="table-primary">
	    <td colspan="10">รอบที่ 1 Portfolio</td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="4">
	      วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี และวิทยาลัยการชลประทาน
	    </td>
	    <td>รับสมัคร</td><td>
	      5 ธ.ค. 63 - 10 ม.ค. 64 (ครั้งที่ 1)<br>
	      2 - 6 ก.พ. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
	    <td>
	      22 ม.ค. 64 (ครั้งที่ 1)<br>
	      11 ก.พ. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>
	      30 ม.ค. 64 (ครั้งที่ 1)<br>
	      15 ก.พ. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr><td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td><td>22 ก.พ. 64</td></tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="4">
	      วิทยาเขตกำแพงแสน
	    </td>
	    <td>รับสมัคร</td>
	    <td>
	      1-30 พ.ย. 63 (ครั้งที่ 1)<br>
	      29 ธ.ค. 63 - 11 ม.ค. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
	    <td>
	      16 ธ.ค. 63 (ครั้งที่ 1)<br>
	      25 ม.ค. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>
	      26 ธ.ค. 63 (ครั้งที่ 1)<br>
	      6 ก.พ. 64 (ครั้งที่ 2)
	    </td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td>
	    <td>
	      29 ธ.ค. 63 (16:00 น.) (ครั้งที่ 1)<br>
	      9 ก.พ. 64 (16:00 น.) (ครั้งที่ 2)
	    </td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="2">
	      วิทยาเขตศรีราชา
	    </td>
	    <td>รับสมัคร</td>
	    <td>
	      19 ต.ค. 63 - 31 ม.ค. 64
	    </td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>
	      13 ก.พ. 64
	    </td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="3">
	      วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร
	    </td>
	    <td>รับสมัคร</td>
	    <td>
	      1 ต.ค. 63 - 31 ม.ค. 64
	    </td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ผ่านการคัดเลือก</td>
	    <td>
	      ทุกวันหลังชำระเงินค่าสมัคร
	    </td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>
	      ไม่มีสอบสัมภาษณ์
	    </td>
	  </tr>
	  <!-- ############################ -->
	  <!-- ############################ -->
	  <!-- ############################ -->
	  <tr class="table-primary">
	    <td colspan="10">
	      รอบที่ 2 Quota
	    </td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="4">
	      วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี และวิทยาลัยการชลประทาน
	    </td>
	    <td>รับสมัคร</td>
	    <td>5 - 25 มี.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
	    <td>2 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>5 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td>
	    <td>10 พ.ค. 64</td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="4">
	      วิทยาเขตกำแพงแสน
	    </td>
	    <td>รับสมัคร</td>
	    <td>5 - 25 มี.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
	    <td>2 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>5 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td>
	    <td>7 พ.ค. 64</td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="2">
	      วิทยาเขตศรีราชา
	    </td>
	    <td>รับสมัคร</td>
	    <td>5 มี.ค. - 10 เม.ย. 64</td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>5 พ.ค. 64</td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="3">
	      วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร
	    </td>
	    <td>รับสมัคร</td>
	    <td>1 มี.ค. - 25 เม.ย. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ผ่านการคัดเลือก</td>
	    <td>7 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์</td>
	    <td>
	      ไม่มีสอบสัมภาษณ์
	    </td>
	  </tr>
	  <tr class="table-primary">
	    <td colspan="10">รอบที่ 3 Admission</td>
	  </tr>
	  <!-- ############################ -->
	  <tr>
	    <td rowspan="6">
	      ทุกวิทยาเขต รับสมัครผ่านทางเว็บไซต์ ทปอ.
	    </td>
	    <td>รับสมัคร</td>
	    <td>7 - 15 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศผล (ครั้งที่ 1)</td>
	    <td>26 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ยืนยันสิทธิ์</td>
	    <td>26 - 27 พ.ค. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศผล (ครั้งที่ 2)</td>
	    <td>1 มิ.ย. 64</td>
	  </tr>
	  <tr>
	    <td>สอบสัมภาษณ์และตรวจร่างกาย</td>
	    <td>4 มิ.ย. 64</td>
	  </tr>
	  <tr>
	    <td>ประกาศรายชื่อผู้ยืนยันสิทธิ์</td>
	    <td>10 มิ.ย. 64</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
</div>
