<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">
	รอบที่ 2 Quota
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี และวิทยาลัยการชลประทาน
      </td>
      <td>รับสมัคร</td>
      <td>5 - 25 มี.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>2 พ.ค. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>5 พ.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td>
      <td>10 พ.ค. 64</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	วิทยาเขตกำแพงแสน
      </td>
      <td>รับสมัคร</td>
      <td>5 - 25 มี.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>2 พ.ค. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>5 พ.ค. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้ผ่านสัมภาษณ์</td>
      <td>7 พ.ค. 64</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="2">
	วิทยาเขตศรีราชา
      </td>
      <td>รับสมัคร</td>
      <td>5 มี.ค. - 10 เม.ย. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>5 พ.ค. 64</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร
      </td>
      <td>รับสมัคร</td>
      <td>1 มี.ค. - 25 เม.ย. 64</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้ผ่านการคัดเลือก</td>
      <td>7 พ.ค. 64</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	ไม่มีสอบสัมภาษณ์
      </td>
    </tr>
  </tbody>
</table>
