<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">
	รอบที่ 2 Quota
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี<br>และวิทยาลัยการชลประทาน</b>
      </td>
      <td>รับสมัคร</td>
      <td>
        <del>13 ก.พ. - 12 มี.ค. 69</del><br>
        16 ก.พ. - 12 มี.ค. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์ทดสอบความสามารถ</td>
      <td>ตามที่โครงการกำหนด</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>24 เม.ย. 69</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>27 เม.ย. 69</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>ภายใน 28 เม.ย. 69</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	<b>วิทยาเขตกำแพงแสน</b>
      </td>
      <td>รับสมัคร</td>
      <td>13 ก.พ. - 12 มี.ค. 69</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>24 เม.ย. 69</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>27 เม.ย. 69</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>ภายใน 28 เม.ย. 69</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	<b>วิทยาเขตศรีราชา</b>
      </td>
      <td>รับสมัคร</td>
      <td>13 ก.พ. - 31 มี.ค. 69</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>24 เม.ย. 69</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>27 เม.ย. 69</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>28 เม.ย. 69</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	<b>วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</b>
      </td>
      <td>รับสมัคร</td>
      <td>16 ก.พ. - 27 มี.ค. 69</td>
    </tr>
    <tr>
      <td>ประกาศผลการคัดเลือก</td>
      <td>28 เม.ย. 69</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>เฉพาะสาขาวศ.โยธา</td>
    </tr>
  </tbody>
</table>
