<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">
	รอบที่ 2 Quota
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี<br>และวิทยาลัยการชลประทาน</b>
      </td>
      <td>รับสมัคร</td>
      <td>14 ก.พ. - 13 มี.ค. 68</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์ทดสอบความสามารถ</td>
      <td>ตามที่โครงการกำหนด</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>22 เม.ย. 68</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>25 - 26 เม.ย. 68</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>ภายใน 28 เม.ย. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	<b>วิทยาเขตกำแพงแสน</b>
      </td>
      <td>รับสมัคร</td>
      <td>14 ก.พ. - 13 มี.ค. 68</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>22 เม.ย. 68</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>25 เม.ย. 68</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>ภายใน 26 เม.ย. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="4">
	<b>วิทยาเขตศรีราชา</b>
      </td>
      <td>รับสมัคร</td>
      <td>14 ก.พ. - 31 มี.ค. 68</td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>22 เม.ย. 68</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>25 เม.ย. 68</td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>28 เม.ย. 68</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	<b>วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</b>
      </td>
      <td>รับสมัคร</td>
      <td>12 ก.พ. - 28 มี.ค. 68</td>
    </tr>
    <tr>
      <td>ประกาศผลการคัดเลือก</td>
      <td>28 เม.ย. 68</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>เฉพาะสาขาวศ.โยธา<br>
	และวศ.คอมพิวเตอร์
      </td>
    </tr>
  </tbody>
</table>
