<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td colspan="10">รอบที่ 3 Admission</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="7" class="area">
	ทุกวิทยาเขต รับสมัครผ่านระบบของ ทปอ. ทางเว็บไซต์ mytcas.com
      </td>
      <td class="hide-md">รับสมัคร</td>
      <td>
        <div class="recruiting"></div>
        <div class="date">6 - 12 พ.ค. 68</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศผล (ครั้งที่ 1)</td>
      <td>
        <div class="annouce-1"></div>
        <div class="date">20 พ.ค. 68</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ยืนยันสิทธิ์ (ครั้งที่ 1)</td>
      <td>
        <div class="verify-1"></div>
        <div class="date">20 - 21 พ.ค. 68</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศผล (ครั้งที่ 2) โดยระบบยืนยันสิทธิ์ให้อัตโนมัติ</td>
      <td>
        <div class="annouce-2"></div>
        <div class="date">25 พ.ค. 68</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">สละสิทธิ์ในระบบ mytcas</td>
      <td>
        <div class="cancel"></div>
        <div class="date">26 พ.ค. 68</div>
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์หรือส่งผลตรวจสุขภาพ (ถ้ามี)</td>
      <td>รอประกาศ</td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศรายชื่อผู้ยืนยันสิทธิ์</td>
      <td>
        <div class="verify-annouce"></div>
        <div class="date">6 มิ.ย. 68</div>
      </td>
    </tr>
  </tbody>
</table>
