<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="3">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- ############################ -->
    <!-- ############################ -->
    <!-- ############################ -->
    <tr class="table-primary">
      <td colspan="10">รอบที่ 1 Portfolio</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตบางเขน โครงการจัดตั้งวิทยาเขตสุพรรณบุรี
	  <br>
	  และวิทยาลัยการชลประทาน</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr>
      <td>รับสมัคร</td><td>
	15 ต.ค. 68 - 13 พ.ย. 68
      </td>
      <td>
      	<del>19 ธ.ค. 68 - 15 ม.ค. 69</del><br>
        19 ธ.ค. 68 - 14 ก.พ. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	      2 ธ.ค. 68
      </td>
      <td>
      	<del>22 ม.ค. 69</del><br>
        20 ก.พ. 69
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	7 - 8 ธ.ค. 68
      </td>
      <td>
	      <del>25 - 26 ม.ค. 69</del><br>
        25 - 26 ก.พ. 69
      </td>
    </tr>
    <tr><td>ประกาศผลสอบสัมภาษณ์</td>
      <td>10 ธ.ค. 68</td>
      <td>
        <del>29 ม.ค. 69</del><br>
        28 ก.พ. 69
      </td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตกำแพงแสน</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr><td>รับสมัคร</td>
      <td>
	1 ต.ค. - 20 ต.ค. 68
      </td>
      <td>
	10 พ.ย. 68 - 14 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	29 ต.ค. 68
      </td>
      <td>
	24 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	3 พ.ย. 68
      </td>
      <td>
	27 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศผลสอบสัมภาษณ์</td>
      <td>
	4 พ.ย. 68
      </td>
      <td>29 ม.ค. 69</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="5">
	<b>วิทยาเขตศรีราชา</b>
      </td>
      <td></td>
      <td class="text-center table-secondary">รอบที่ 1/1</td>
      <td class="text-center table-secondary">รอบที่ 1/2</td>
    </tr>
    <tr>
      <td>รับสมัคร</td>
      <td>
	1 ต.ค. 68 - 15 พ.ย. 68
      </td>
      <td>
	15 ธ.ค. 68 - 15 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
	2 ธ.ค. 68
      </td>
      <td>
	22 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td>
	7 ธ.ค. 68
      </td>
      <td>
	25 ม.ค. 69
      </td>
    </tr>
    <tr><td>ประกาศผลสอบสัมภาษณ์</td>
      <td>10 ธ.ค. 68</td>
      <td>29 ม.ค. 69</td>
    </tr>
    <!-- ############################ -->
    <tr>
      <td rowspan="3">
	<b>วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</b>
      </td>
      <td>รับสมัคร</td>
      <td colspan="2">
	5 ก.ย. 68 - 9 ม.ค. 69
      </td>
    </tr>
    <tr>
      <td>ประกาศผลการคัดเลือก</td>
      <td colspan="2">หลังชำระเงิน 1 วันทำการ</td>
    </tr>
    <tr>
      <td>สอบสัมภาษณ์</td>
      <td colspan="2">เฉพาะสาขาวศ.โยธา</td>
    </tr>
  </tbody>
</table>
