<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>รอบรับสมัคร</th>
      <th colspan="2">กำหนดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- รอบที่ 1 Portfolio -->
    <tr class="table-primary">
      <td colspan="3">รอบที่ 1 Portfolio</td>
    </tr>

    <!-- วิทยาเขตบางเขน -->
    <tr>
      <td rowspan="4" class="area">วิทยาเขตบางเขน, โครงการจัดตั้งวิทยาเขตสุพรรณบุรี, และวิทยาลัยการชลประทาน</td>
      <td class="hide-md">รับสมัคร</td>
      <td>
        <div class="recruiting"></div>
        <div class="date">1 พ.ย. 66 - 4 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
        <div class="interview-annouce"></div>
        <div class="date">22 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">สอบสัมภาษณ์</td>
      <td>
        <div class="interview"></div>
        <div class="date">23 - 27 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศผลสอบสัมภาษณ์</td>
      <td>
        <div class="interview-result"></div>
        <div class="date">30 ม.ค. 67</div>
      </td>
      <!-- <td class="interview-result">30 ม.ค. 67</td> -->
    </tr>

    <!-- วิทยาเขตกำแพงแสน -->
    <tr>
      <td rowspan="4" class="area">วิทยาเขตกำแพงแสน</td>
      <td class="hide-md">รับสมัคร</td>
      <td>
        <div class="recruiting"></div>
        <div class="date">
          16 ต.ค. - 15 พ.ย. 66 (รอบที่ 1) <br>
        1 ธ.ค. 66 - 4 ม.ค. 67 (รอบที่ 2)
        </div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
        <div class="interview-annouce"></div>
        <div class="date">
          21 พ.ย. 66 (รอบที่ 1) <br>
        22 ม.ค. 67 (รอบที่ 2)
        </div>
        
      </td>
    </tr>
    <tr>
      <td class="hide-md">สอบสัมภาษณ์</td>
      <td>
        <div class="interview"></div>
        <div class="date">
          24 พ.ย. 66 (รอบที่ 1) <br>
        26 ม.ค. 67 (รอบที่ 2)
        </div>
        
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศผลสอบสัมภาษณ์</td>
      <td>
        <div class="interview-result"></div>
        <div class="date">
          26 พ.ย. 66 (รอบที่ 1) <br>
        30 ม.ค. 67 (รอบที่ 2)
        </div>
        
      </td>
    </tr>

    <!-- วิทยาเขตศรีราชา -->
    <tr>
      <td rowspan="4" class="area">วิทยาเขตศรีราชา</td>
      <td class="hide-md">รับสมัคร</td>
      <td>
        <div class="recruiting"></div>
        <div class="date">1 พ.ย. 66 - 7 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์</td>
      <td>
        <div class="interview-annouce"></div>
        <div class="date">22 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">สอบสัมภาษณ์</td>
      <td>
        <div class="interview"></div>
        <div class="date">26 ม.ค. 67</div>
      </td>
    </tr>
    <tr>
      <td class="hide-md">ประกาศผลสอบสัมภาษณ์</td>
      <td>
        <div class="interview-result"></div>
        <div class="date">30 ม.ค. 67</div>
      </td>
    </tr>

    <!-- วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร -->
    <tr>
      <td class="area">วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</td>
      <td class="hide-md">รับสมัคร</td>
      <td>
        <div class="recruiting"></div>
        <div class="date">2 ต.ค. 66 - 5 ม.ค. 67</div>
      </td>
    </tr>
  </tbody>
</table>