{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ระบบรับสมัครแยกตามวิทยาเขต</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="p0 mb10">
        <img class="top-radius-5 img-fluid" src="{% static 'img/ku-campus-bkn.png' %}" />
        <div class="text-center campus-label-main-links">
          วิทยาเขตบางเขน<br />
	  <a class="d-none btn btn-light btn-sm btn-disabled" style="border: 1px solid #c0c0c0;" href="#">ยังไม่เปิดระบบ</a>
          <a class="btn btn-success btn-sm" target="_blank" href="https://admission.ku.ac.th/kuadm/">เว็บไซต์การรับสมัคร</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p0 mb10">
        <img class="top-radius-5 img-fluid" src="{% static 'img/ku-campus-kps.png' %}" />
        <div class="text-center">
          วิทยาเขตกำแพงแสน<br />
          <a class="btn btn-success btn-sm" target="_blank" href="https://admission.kps.ku.ac.th/">เว็บไซต์การรับสมัคร</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p0 mb10">
        <img class="top-radius-5 img-fluid" src="{% static 'img/ku-campus-src.png' %}" />
        <div class="text-center">
          วิทยาเขตศรีราชา<br />
          <a class="btn btn-success btn-sm" target="_blank" href="https://admissions.src.ku.ac.th/">เว็บไซต์การรับสมัคร</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="p0 mb10">
        <img class="top-radius-5 img-fluid" src="{% static 'img/ku-campus-csc.png' %}" />
        <div class="text-center">
          วิทยาเขต<br />เฉลิมพระเกียรติ<br />จังหวัดสกลนคร<br />
          <a class="btn btn-success btn-sm" target="_blank" href="https://misreg.csc.ku.ac.th/admission/">เว็บไซต์การรับสมัคร</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p0 mb10">
        <img class="top-radius-5 img-fluid" src="{% static 'img/ku-campus-sb.png' %}" />
        <div class="text-center campus-label-main-links">
	  สำนักงาน<br />เขตบริหารการเรียนรู้<br />พื้นที่สุพรรณบุรี<br />
          <a class="d-none btn btn-light btn-sm btn-disabled" style="border: 1px solid #c0c0c0;" href="#">ยังไม่เปิดระบบ</a>
          <a class="btn btn-success btn-sm" target="_blank" href="https://admission.ku.ac.th/kuadm/">เว็บไซต์การรับสมัคร</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
</div>
<script>
 $(function(){
   $(".btn-disabled").click(function(){
     return false;
   });
 });
</script>
