<table class="table table-sm table-responsive table-striped">
  {% for r in admission_rounds %}
    <thead class="thead-inverse">
      {% include 'main/include/admission_round_table_header.html' %}
    </thead>
    {% for project in r.admissionproject_set.all %}
      {% include 'main/include/project_row.html' %}
    {% empty %}
      <tr>
        <td><small>ยังไม่มีข้อมูลโครงการ</small></td>
        <td></td>
        {% for c in campuses %}
          <td>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  {% endfor %}
</table>
