{% load humanize %}
<tr>
  <td>
    <span class="badge badge-secondary badge-pill">{{ forloop.counter }}</span>
    {{ project }}
    {% if project.major_detail_visible %}
      <a href="{% url 'majors:list-majors' project.id %}"><span class="badge badge-pill badge-info">อ่านรายละเอียด</span></a>
    {% endif %}
  </td>
  <td>
    {{ dates }}
  </td>
  <td class="text-right">
    {{ project.slots|intcomma }}
  </td>
  <td class="text-center;">
    {% if not project.campus %}
      <span class="badge campus-badge-all">ทุกวิทยาเขต</span>
    {% else %}
      <span class="badge campus-badge-campus-{{ project.campus.id }}">{{ project.campus }}</span>
    {% endif %}
  </td>
</tr>
