{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>โครงการ{{ project.title }}</h2>

      {% include "majors/include/project_info.html" %}

      <hr />
      
      <h4>คุณสมบัติทั่วไป</h4>
      {{ project.general_conditions|linebreaks }}
      <hr />
      
      <h4>สาขาวิชา คุณสมบัติเฉพาะ และเกณฑ์การรับสมัคร</h4>

      <table class="table table-sm table-striped table-responsive">
        <thead class="thead-inverse">
          {{ project.major_table_header|safe }}
        </thead>
        {% for major in majors %}
        {% include "majors/include/major_row.html" %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
