{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 project-major-pages">
        <div class="float-right">
          <img src="{% static 'img/ku-logo-xs-back.png' %}" />
        </div>
        <h2>ค้นหาสาขา</h2>
        <form class="form-inline" method="post" action="{% url 'majors:search-majors' %}">
          {% csrf_token %}
          <div class="form-row">
            <div class="col">
              <input class="form-control" type="text" placeholder="ป้อนชื่อสาขา" name="query">
            </div>
            <div class="col">
              <input class="btn btn-primary" type="submit" value="ค้นข้อมูลสาขา" />
            </div>
          </div>
        </form>
        <hr />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 project-major-pages">
        <h3>ผลการค้นหา{{ scope_display }}</h3>
        <p>
          <b>คำค้นหา:</b> {{ query }} &nbsp;&nbsp;
          พบทั้งสิ้น {{ projects|length }} โครงการ
        </p>

        {% for project in projects %}
          <div class="project-search-results mb10 p10 border-a0">
            <h3><span class="badge badge-success">{{ forloop.counter  }}.</span> โครงการ{{ project.title }}</h3>
            <div class="project-contents">
              วิทยาเขต:
              {% if project.campus != None %}<span class="badge campus-badge-campus-{{ project.campus.id }}">{{ project.campus }}</span>{% else %}<span class="badge campus-badge-all">ทุกวิทยาเขต</span>{% endif %}
              |
              รอบการรับสมัคร:
              {% for projectround in project.admissionprojectround_set.all %}{% if not forloop.first %}, {% endif %}{{ projectround.admission_round }} ({{ projectround.admission_dates }}){% endfor %}
              
              {% if project.general_conditions %}
                <a class="btn btn-sm btn-success gen-condition-toggle" href="#">อ่านรายละเอียดคุณสมบัติเฉพาะ</a>
              {% endif %}
              <hr />
              {% if project.general_conditions %}
                <div class="project-general-conditions" style="display: none;">
                  <h4>คุณสมบัติเฉพาะ</h4>
                  {{ project.general_conditions|linebreaks }}
                  <hr />
                </div>
              {% endif %}
              
              <h4>สาขาวิชา คุณสมบัติเฉพาะ และเกณฑ์การรับสมัคร</h4>
              
              {% with project.found_majors as majors %}
                <div class="d-lg-block d-none">
                  {% include 'majors/include/project_table.html' %}
                </div>

                <div class="d-lg-none">
                  {% include 'majors/include/project_table_sm.html' %}
                </div>
              {% endwith %}
              
              {% if project.comments %}
                <h4>หมายเหตุจำนวนรับ</h4>
                {% for c in project.comments %}
                  <span class="badge badge-danger">*{{ forloop.counter }}</span> &nbsp; {{ c }}<br />
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% empty %}
          <b>ไม่พบสาขาที่คุณต้องการ</b> {{ empty_display_message }}
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
   $(function(){
     $(".gen-condition-toggle").click(function(){
       var pdiv = $(this).parents(".project-search-results");
       $(pdiv).find(".project-general-conditions").show();
       return false;
     });
   });
  </script>
{% endblock %}
