{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 project-major-pages">
	<div class="float-right">
          <img src="{% static 'img/ku-logo-xs-back.png' %}" />
	</div>
	<h2>สาขาและโครงการที่รับ - {{ selected_label }}</h2>
	<div class="alert alert-info">
	  เลือกคณะหรือวิทยาเขตเพื่อตรวจสอบสาขาและโครงการ/รอบที่รับสมัคร  สำหรับรายละเอียดเงื่อนไขเกณฑ์การรับของโครงการต่าง ๆ จะประกาศให้ทราบเร็ว ๆ นี้
	  {% if campus.id == 2 %}
	    สำหรับการสมัคร{{ campus.title }} สามารถตรวจสอบข้อมูลได้ที่ <a class="btn btn-secondary btn-sm" target="_blank" href="http://esd.kps.ku.ac.th/quota/">เว็บไซต์การรับสมัครของวิทยาเขตกำแพงแสน</a>
	  {% endif %}
	  {% if campus.id == 3 %}
	    สำหรับการสมัคร{{ campus.title }} สามารถตรวจสอบข้อมูลได้ที่ <a class="btn btn-secondary btn-sm" target="_blank" href="https://qa.src.ku.ac.th/entrance/">เว็บไซต์การรับสมัครของวิทยาเขตศรีราชา</a>
	  {% endif %}
	  {% if campus.id == 4 %}
	    สำหรับการสมัคร{{ campus.title }} สามารถตรวจสอบข้อมูลได้ที่ <a class="btn btn-secondary btn-sm" target="_blank" href="https://misreg.csc.ku.ac.th/admission/">เว็บไซต์การรับสมัครของวิทยาเขตสกลนคร</a>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
  <div class="sticky-top pb-2" style="top: 56px; background: white;">
    <div class="container">
      <div class="row">
	<div class="col-md-12 project-major-pages">
	  <div class="mb-2">
	    เลือกคณะหรือวิทยาเขต
	    <select class="target-selects">
	      {% for c in choices %}
		<option
		  {% if c.is_selected %}selected{% endif %}
		  data-sel-type="{{ c.type }}"
		  data-sel-id="{{ c.id }}"
		>
		  {% if c.type == 'campus' %}
		    --- {{ c.label }} ---
		  {% else %}
		    ›› {{ c.label }}
		  {% endif %}
		</option>
	      {% endfor %}
	    </select>
	  </div>

	  <ul class="nav nav-pills mb-1">
	    <li class="nav-item">
	      <a class="nav-link">รอบการรับสมัคร:</a>
	    </li>
	    {% for r in round_numbers %}
	      <li class="nav-item">
		<a class="nav-link round-buttons" data-round-number="{{ r }}" id="round-button-{{ r }}" href="#">รอบที่ {{ r }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% include "criteria/include/major_project_table.html" %}
    </div>
  </div>
  <script>
   var campusUrlTemplate = "{% url 'criteria:index-campus' 9999 %}";
   var facultyUrlTemplate = "{% url 'criteria:index-faculty' 9999 %}";

   function selectRound(r) {
     {% for r in round_numbers %}
     if(r == {{ r }}) {
       $(".p-round-{{ r }}").show();
       $("#round-button-{{ r }}")
	 .addClass("active")
     } else {
       $(".p-round-{{ r }}").hide();
       $("#round-button-{{ r }}")
	 .removeClass("active");
     }
     {% endfor %}
   }
   
   $(function(){
     $(".round-buttons").click(function(){
       var r = $(this).data('roundNumber');
       selectRound(r);
       return false;
     });
     
     $(".target-selects").change(function(){
       var selOpt = $(this).find(":selected");
       var selType = $(selOpt).data("selType");
       var selId = $(selOpt).data("selId");
       if (selType == 'faculty') {
	 var url = facultyUrlTemplate.replace('9999', selId);
       } else {
	 var url = campusUrlTemplate.replace('9999', selId);
       }
       window.location.href = url;
     });

     selectRound({{ round_numbers.0 }});
   });
  </script>
{% endblock %}
