<table class="table table-sm table-bordered table-striped table-responsive">
  <thead class="thead-dark">
    {% if not shows_min_criteria_in_table %}
      <tr>
	<th>สาขาวิชาที่ใช้เกณฑ์</th>
	<th>จำนวนรับ</th>
	<th>เงื่อนไขขั้นต่ำ</th>
	<th>เกณฑ์การพิจารณา</th>
      </tr>
    {% else %}
      <tr>
	<th rowspan="3">สาขาวิชาที่ใช้เกณฑ์</th>
	<th rowspan="3">จำนวนรับ</th>
	<th class="text-center" colspan="12">เงื่อนไขขั้นต่ำ</th>
	<th rowspan="3">เกณฑ์การพิจารณา</th>
      </tr>
      <tr>
	<th class="text-center" colspan="3">หน่วยกิต</th>
	<th rowspan="2">GPAX</th>
	<th>O-NET</th>
	<th class="text-center" colspan="6">GAT/PAT (ขั้นต่ำ)</th>
	<th rowspan="2">เงื่อนไขขั้นต่ำอื่น ๆ</th>
      </tr>
      <tr>
	<th>คณิต</th>
	<th>วิทย์</th>
	<th>ภาษาตปท.</th>
	<th>03</th>
	<th>GAT</th>
	<th>PAT1</th>
	<th>PAT2</th>
	<th>PAT3</th>
	<th>PAT4</th>
	<th>PAT5</th>
      </tr>
    {% endif %}
  </thead>
  {% for row in admission_criteria_rows %}
    {% with curriculum_major_admission_criterias=row.majors criterias=row.criterias major_count=row.major_count criteria_count=row.criteria_count %}

      {% if is_faculty_row_visible %}
	{% ifchanged criterias.0.faculty %}
	  <tr class="table-info">
	    <th colspan="300" class="text-center">
	      {{ criterias.0.faculty }} ({{ criterias.0.faculty.campus.title }})
	    </th>
	  </tr>
	{% endifchanged  %}
      {% endif %}

      <tr class="{% if major_count == 0 %}table-warning{% endif %}">
	{% if major_count > 0 %}
	  {% with curriculum_major_admission_criterias.0 as majorcriteria %}
	    <td rowspan="{{ criteria_count }}">
	      {{ majorcriteria.curriculum_major.cupt_code }}
	    </td>
	    <td rowspan="{{ criteria_count }}" class="text-center">
	      {% if majorcriteria.slots != 0 %}
  		{{majorcriteria.slots}}
	      {% else %}
		*จำนวนรับรวมกับเงื่อนไขอื่น
	      {% endif %}
	    </td>
	  {% endwith %}
	{% else %}
	  <td>
	    (ยังไม่ได้ระบุสาขา)
	  </td>
	{% endif %}

	{% with criterias.0 as admission_criteria %}
	  {% include "criteria/include/criteria_table_scorecriteria_cols.html" %}
	{% endwith %}
      </tr>
      
      {% for majorcriteria in curriculum_major_admission_criterias %}
	{% if not forloop.first %}
	  <tr>
	    <td>
	      {{majorcriteria.curriculum_major.cupt_code}}
	    </td>
	    <td class="text-center">
	      {% if majorcriteria.slots != 0 %}
  		{{majorcriteria.slots}}
	      {% else %}
		*จำนวนรับรวมกับเงื่อนไขอื่น
	      {% endif %}
	    </td>
	  </tr>
	{% endif %}
      {% endfor %}

      {% if criteria_count > 0 %}
	{% for item in criterias %}
	  {% if not forloop.first %}
	    {% with item as admission_criteria %}
	      <tr>
		{% include "criteria/include/criteria_table_scorecriteria_cols.html" %}
	      </tr>
	    {% endwith %}
	  {% endif %}
	{% endfor %}
      {% endif %}
    {% endwith %}
  {% endfor %}
  {% if is_faculty_row_visible %}
    {% if free_curriculum_majors %}
      <tr class="table-primary">
	<th colspan="300" class="text-center">
	  สาขาที่ยังไม่มีการกำหนดเกณฑ์
	</th>
      </tr>
    {% endif %}
  {% endif %}
  {% for major in free_curriculum_majors %}
    {% if is_faculty_row_visible %}
      {% ifchanged major.faculty %}
	<tr class="table-info">
	  <th colspan="300" class="text-center">
	    {{ major.faculty }}
	  </th>
	</tr>
      {% endifchanged  %}
    {% endif %}
    <tr>
      <td>
        {{major.cupt_code}}
      </td>
      <td></td>
      <td colspan="2">
        (ยังไม่มีการกำหนดเกณฑ์)
      </td>
      <td>
	{% if is_edit_link_hidden %}
	{% else %}
          <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?selected_major_id={{major.id}}{% if faculty_choices %}&faculty_id={{ faculty.id }}{% endif %}"
	     class="btn btn-success btn-sm">กำหนดเงื่อนไขและเกณฑ์การพิจารณา</a>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
  {% if not admission_criteria_rows %}
    {% if not free_curriculum_majors %}
      <tr>
        <td>(ยังไม่มีการเลือกสาขาที่เปิดรับในโครงการนี้)</td>
      </tr>
    {% endif %}
  {% endif %}
</table>
<script>
 function deleteCriteria(text) {
   let ok = confirm('ต้องการลบเกณฑ์?')
   if (ok) {
     $('form#' + text).submit()
   }
 }
</script>
