<ol class="scorecriteria-lists">
  {% for scorecriteria in scorecriterias %}
    <li>
      {% if not hides_percent %}
	{% if hides_AND_relation %}
	  {{scorecriteria.display_with_short_relation|linebreaksbr}}
	{% else %}
	  {{scorecriteria|linebreaksbr}}
	{% endif %}
      {% else %}
	{{scorecriteria.description|linebreaksbr}}
      {% endif %}
      {% if scorecriteria.has_children %}
	<ol class="scorecriteria-lists">
	  {% for schild in scorecriteria.childs.all %}
	    <li>
	      {% if not hides_percent %}
		{{schild|linebreaksbr}}
	      {% else %}
		{{schild.description|linebreaksbr}}
	      {% endif %}
	    </li>
	  {% endfor %}
	</ol>
      {% endif %}
    </li>
  {% endfor %}
</ol>
<style>
 ol.scorecriteria-lists {
     counter-reset: section;
     list-style-type: none;
 }
 ol.scorecriteria-lists li::before {
     counter-increment: section;
     content: counters(section, ".") ".";
 }
</style>
