{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="main_jumbotron_id" class="jumbotron">
  <div class="container">
    <div style="float: right;">
      <img src="{% static 'main/img/ku-logo.png' %}" />
    </div>
    <h1 class="display-3">การรับสมัครเข้าศึกษาต่อมหาวิทยาลัยเกษตรศาสตร์</h1>
    <div style="clear: both;"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-responsive">
        {% for r in admission_rounds %}
          <thead class="thead-inverse">
            <tr>
              <th>
                {{ r }} <small>ระบุคำอธิบาย</small>
              </th>
              {% for c in campuses %}
                <th width="8%" style="text-align: center;">
                  <small>
                    {{ c.short_title }}
                  </small>
                </th>
              {% endfor %}
            </tr>
          </thead>
          {% for p in r.admissionproject_set.all %}
            <tr>
              <td>
                <span class="badge badge-secondary">{{ forloop.counter }}</span>
                {{ p }}
              </td>
              {% for c in campuses %}
                <td width="8%" style="text-align: center;">
                  {% if not p.campus %}
                    <span class="badge badge-success">&nbsp;</span>
                  {% else %}
                    {% if p.campus == c %}
                      <span class="badge badge-success">&nbsp;</span>
                    {% endif %}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% empty %}
            <tr>
              <td><small>ยังไม่มีข้อมูลโครงการ</small></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
