{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="main_jumbotron_id" class="jumbotron">
  <div class="container">
    <div class="float-right">
      <img class="d-md-block d-none" src="{% static 'img/ku-logo.png' %}" />
      <img class="d-md-none" src="{% static 'img/ku-logo-sm.png' %}" />
    </div>
    <h1 class="display-4 d-md-inline d-none">การรับสมัครเข้าศึกษาต่อมหาวิทยาลัยเกษตรศาสตร์ ปีการศึกษา 2562</h1>
    <h1 class="display-5 d-md-none">การรับสมัครเข้าศึกษาต่อมหาวิทยาลัยเกษตรศาสตร์ ปีการศึกษา 2562</h1>
    <div style="clear: both;"></div>
  </div>
</div>

{% if announcements %}
  {% include "main/include/announcements.html" %}
{% endif %}

{% include "main/include/campus_links.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if allow_search %}{% include "main/include/search_float.html" %}{% endif %}
      <h2 class="display-5">โครงการรับสมัคร</h2>
      {% if allow_search %}{% include "main/include/search_normal.html" %}{% endif %}

      <p>
        <!-- ในปีการศึกษา 2562 มหาวิทยาลัยเกษตรศาสตร์รับนิสิตใหม่ตามโครงการ TCAS โดยแบ่งการรับเป็น 5 รอบ ดังแสดงในตารางด้านล่าง  สำหรับรายละเอียดสาขาวิชา เกณฑ์การรับสมัคร และเกณฑ์การคัดเลือกจะประกาศให้ทราบต่อไป -->
        ในปีการศึกษา 2562 มหาวิทยาลัยเกษตรศาสตร์รับนิสิตใหม่ตามโครงการ TCAS โดยแบ่งการรับเป็น 5 รอบ  สำหรับรายละเอียดสาขาวิชา เกณฑ์การรับสมัคร และเกณฑ์การคัดเลือกจะประกาศให้ทราบต่อไป
      </p>
      {% include "main/include/project_table.html" %}
    </div>
  </div>
</div>
{% endblock %}

