{% extends 'base.html' %}
{% load static %}
{% load adm_extras %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="main_jumbotron_id" class="jumbotron">
	<div class="container grid">
		<div class="admission-title">
			<h1 class="admission-title">สมัครเรียนต่อมหาวิทยาลัยเกษตรศาสตร์ ปีการศึกษา {% current_year %}</h1>
			<h1 class="admission-title-md">สมัครเรียน ม.เกษตรศาสตร์</h1>
		</div>
		<div class="ku-logo">
			<img class="ku-logo" src="{% static 'img/ku-logo-sm.png' %}" />
		</div>
		<div style="clear: both;"></div>
	</div>
</div>

{% if announcements %}
  {% include "main/include/announcements.html" %}
{% endif %}

{% include "main/include/calendar.html" %}

{% include "main/include/campus_links.html" %}

<div class="container x-none">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-5">สาขาและโครงการรับสมัคร</h2>
      {% if allow_search %}{% include "main/include/search_normal.html" %}{% endif %}

      <p>
        ในปีการศึกษา {% current_year %} มหาวิทยาลัยเกษตรศาสตร์รับนิสิตใหม่ตามโครงการ TCAS โดยแบ่งการรับเป็น 4 รอบ
	<!--  สำหรับรายละเอียดสาขาวิชาและเงื่อนไขจะประกาศเร็ว ๆ นี้ -->
	<!--  ขณะนี้สามารถตรวจสอบสาขาและโครงการกับรอบที่รับได้แล้ว  สำหรับรายละเอียดสาขาวิชา เกณฑ์การรับสมัคร และเกณฑ์การคัดเลือกจะประกาศให้ทราบเร็ว ๆ นี้ -->
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
	<div class="card-body">
	  <h5 class="card-title">สาขาและโครงการรับสมัคร</h5>
	  <p class="card-text">
	    สามารถตรวจสอบรายการโครงการรับและรอบรับของสาขาที่รับสมัครของคณะและวิทยาเขตต่าง ๆ 
	  </p>
	  <a href="{% url 'criteria:index' %}" class="btn btn-primary">ตรวจสอบรายละเอียด</a>
	</div>
      </div>
    </div>
    {% if admission_projects %}
      <div class="col-md-8">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title">เงื่อนไขและเกณฑ์การรับสมัคร</h5>
	    <p class="card-text">
	      สำหรับโครงการอื่น ๆ ในวิทยาเขตต่าง ๆ สามารถตรวจสอบได้จากเว็บไซต์ของวิทยาเขต
	    </p>
	    <table class="table table-sm">
	      {% for project in admission_projects %}
		{% ifchanged project.default_round_number %}
		  <tr class="table-info">
		    <td class="pl-3" colspan="100">รอบที่ {{ project.default_round_number }}</td>
		  </tr>
		{% endifchanged %}
		<tr>
		  <td>
		    {{ project }}
		    {% for c in project.campuses %}
		      <span class="badge badge-primary campus-badge-campus-{{ c.id }} badge-pill">{{ c }}</span>
		    {% endfor %}
		  </td>
		  <td>
		    <a class="btn btn-sm btn-success" target="_blank" href="{% url 'criteria:project-index' project.id %}">อ่านเกณฑ์</a>
		  </td>
		</tr>
	      {% endfor %}
	    </table>
	  </div>
	</div>
      </div>
    {% endif %}
  </div>
</div>
{% comment %}
<div class="container">
<div class="row d-none">
<div class="col-md-12">
{% if allow_search %}{% include "main/include/search_float.html" %}{% endif %}
<h2 class="display-5">โครงการรับสมัคร</h2>
{% if allow_search %}{% include "main/include/search_normal.html" %}{% endif %}

<p>
<!-- ในปีการศึกษา 2562 มหาวิทยาลัยเกษตรศาสตร์รับนิสิตใหม่ตามโครงการ TCAS โดยแบ่งการรับเป็น 5 รอบ ดังแสดงในตารางด้านล่าง  สำหรับรายละเอียดสาขาวิชา เกณฑ์การรับสมัคร และเกณฑ์การคัดเลือกจะประกาศให้ทราบต่อไป -->
ในปีการศึกษา {% current_year %} มหาวิทยาลัยเกษตรศาสตร์รับนิสิตใหม่ตามโครงการ TCAS โดยแบ่งการรับเป็น {% admission_round_count %} รอบ  สำหรับรายละเอียดสาขาวิชา เกณฑ์การรับสมัคร และเกณฑ์การคัดเลือกจะประกาศให้ทราบต่อไป
</p>
{% include "main/include/project_table.html" %}
</div>
</div>
</div>
{% endcomment %}
{% endblock %}

