/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bg-dark {
    background-color: #016a66 !important;
}

#main_jumbotron_id {
    background-color: #016a66;
    border-radius: 0px;
    color: white;
    font-family: 'Prompt', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-major-pages {
    margin-top: 15px;
}

.campus-badge-all {
    background-color: darkgrey;
}

.campus-badge-campus-1 {
    background-color: darkgreen;
}
.campus-badge-campus-2 {
    background-color: darkblue;
}
.campus-badge-campus-3 {
    background-color: brown;
}
.campus-badge-campus-4 {
    background-color: orange;
}

h1,h2,h3,h4 {
    font-family: 'Prompt', sans-serif;
}

.faculty-title-rows td {
    background: #b97754;
    color: #fafafa;
}

.campus-lable-main-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.h180 {
    height: 180px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.m5 {
    margin: 5px;
}

.p0 {
    padding: 0;
}

.p10 {
    padding: 10px;
}

.border-a0 {
    border: 1px solid #a0a0a0;
    border-radius: .25rem;
}

.top-radius-5 {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
