<table class="table table-sm table-striped table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>หมายเลข</th>
      <th>สาขาวิชา</th>
      <th>จำนวนรับ</th>
    </tr>
  </thead>
  {% for major in majors %}
    {% ifchanged major.faculty_id %}
      <tr class="faculty-title-rows">
        <td colspan="100" class="text-center">{{ major.faculty }} ({{ major.faculty.campus.title }})</td>
      </tr>
    {% endifchanged %}
    {% include "majors/include/major_row_md.html" %}
  {% endfor %}
</table>
